<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/46177040-2860-4ae7-9ae4-202f7751aeec/resourceGroups/GRUPODEMO/providers/Microsoft.Web/sites/webnet5api</ResourceId>
    <ResourceGroup>GRUPODEMO</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://webnet5api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>755f3c43-c668-4d6b-9d94-bca6f56c823e</ProjectGuid>
    <PublishUrl>https://webnet5api.scm.azurewebsites.net/</PublishUrl>
    <UserName>$webnet5api</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>