<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/46177040-2860-4ae7-9ae4-202f7751aeec/resourceGroups/GRUPODEMO/providers/Microsoft.Web/sites/webclientenet5</ResourceId>
    <ResourceGroup>GRUPODEMO</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://webclientenet5.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>69627679-367f-4985-bb37-4e211a2e7c32</ProjectGuid>
    <PublishUrl>https://webclientenet5.scm.azurewebsites.net/</PublishUrl>
    <UserName>$webclientenet5</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>